<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
	<title>Background Image Site by Heim L.</title>

	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="page">
		<div id="header-page">
			<div id="header">
				<div id="logo">
					<h1>Heim's Page</h1>
				</div>
			</div>
		</div>
	</div>

	<div id="ThreeColumns">
		<div id="column1">
			<h2>Lorem Ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque molestie urna, in fringilla ante molestie eget. Proin pharetra eget erat eget congue. Donec eu tortor sapien. Curabitur blandit erat turpis, vehicula sagittis nulla eleifend in. Cras vel cursus sapien. Praesent accumsan metus dolor, et porttitor sapien tempor pellentesque. Duis finibus vehicula ligula ac lacinia.</p>
		</div>
		<div id="column2">
			<h2>Scelerisque</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque molestie urna, in fringilla ante molestie eget. Proin pharetra eget erat eget congue. Donec eu tortor sapien. Curabitur blandit erat turpis, vehicula sagittis nulla eleifend in. Cras vel cursus sapien. Praesent accumsan metus dolor, et porttitor sapien tempor pellentesque. Duis finibus vehicula ligula ac lacinia.</p>
		</div>
		<div id="column3">
			<h2>Consectetur</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque molestie urna, in fringilla ante molestie eget. Proin pharetra eget erat eget congue. Donec eu tortor sapien. Curabitur blandit erat turpis, vehicula sagittis nulla eleifend in. Cras vel cursus sapien. Praesent accumsan metus dolor, et porttitor sapien tempor pellentesque. Duis finibus vehicula ligula ac lacinia.</p>
		</div>
</body>
</html>