<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
	<title>Elegance of Serif Fonts by Heim L.</title>

	<link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/5c5a61ec51.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="page">
    <div id="header-page">
      <div id="header">
        <div id="logo">
          <h1 id="the">the</h1>
          <h1 id="heimtube">heimtube</h1>
          <h1 id="times">channel</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="section1">
    <div id="sectionContent1" class="sectionContent">
      <hr>
      <h2>Lorem Ipsum</h2>
      <p>Etiam commodo magna eget nibh laoreet, vel gravida purus auctor. Praesent scelerisque purus vitae rhoncus pulvinar. Cras ut blandit lectus. Etiam congue est quis metus imperdiet pellentesque. Maecenas laoreet rhoncus justo, ut gravida urna feugiat ac. Cras id lacinia leo. Fusce maximus venenatis ipsum ut venenatis. Suspendisse pulvinar tortor sem, nec tincidunt elit congue nec. Duis tincidunt sem eu consequat suscipit. Duis et porta lectus. Etiam tincidunt erat orci, ac consequat dolor facilisis a.</p>
    </div>
  </div>

  <div id="section2">
    <div id="sectionContent2" class="sectionContent">
      <hr>
      <h2>Lorem Ipsum</h2>
      <p>Etiam commodo magna eget nibh laoreet, vel gravida purus auctor. Praesent scelerisque purus vitae rhoncus pulvinar. Cras ut blandit lectus. Etiam congue est quis metus imperdiet pellentesque. Maecenas laoreet rhoncus justo, ut gravida urna feugiat ac. Cras id lacinia leo. Fusce maximus venenatis ipsum ut venenatis. Suspendisse pulvinar tortor sem, nec tincidunt elit congue nec. Duis tincidunt sem eu consequat suscipit. Duis et porta lectus. Etiam tincidunt erat orci, ac consequat dolor facilisis a.</p>
    </div>
  </div>

  <div id="section3">
    <div id="sectionContent3" class="sectionContent">
      <hr>
      <h2>Lorem Ipsum</h2>
      <p>Etiam commodo magna eget nibh laoreet, vel gravida purus auctor. Praesent scelerisque purus vitae rhoncus pulvinar. Cras ut blandit lectus. Etiam congue est quis metus imperdiet pellentesque. Maecenas laoreet rhoncus justo, ut gravida urna feugiat ac. Cras id lacinia leo. Fusce maximus venenatis ipsum ut venenatis. Suspendisse pulvinar tortor sem, nec tincidunt elit congue nec. Duis tincidunt sem eu consequat suscipit. Duis et porta lectus. Etiam tincidunt erat orci, ac consequat dolor facilisis a.</p>
    </div>
  </div>

  <div id="section4">
    <div id="sectionContent4" class="sectionContent">
      <hr>
      <h2>Lorem Ipsum</h2>
      <p>Etiam commodo magna eget nibh laoreet, vel gravida purus auctor. Praesent scelerisque purus vitae rhoncus pulvinar. Cras ut blandit lectus. Etiam congue est quis metus imperdiet pellentesque. Maecenas laoreet rhoncus justo, ut gravida urna feugiat ac. Cras id lacinia leo. Fusce maximus venenatis ipsum ut venenatis. Suspendisse pulvinar tortor sem, nec tincidunt elit congue nec. Duis tincidunt sem eu consequat suscipit. Duis et porta lectus. Etiam tincidunt erat orci, ac consequat dolor facilisis a.</p>
    </div>
  </div>

  <div id="section5">
    <div id="sectionContent5" class="sectionContent">
      <hr>
      <h2>Lorem Ipsum</h2>
      <p>Etiam commodo magna eget nibh laoreet, vel gravida purus auctor. Praesent scelerisque purus vitae rhoncus pulvinar. Cras ut blandit lectus. Etiam congue est quis metus imperdiet pellentesque. Maecenas laoreet rhoncus justo, ut gravida urna feugiat ac. Cras id lacinia leo. Fusce maximus venenatis ipsum ut venenatis. Suspendisse pulvinar tortor sem, nec tincidunt elit congue nec. Duis tincidunt sem eu consequat suscipit. Duis et porta lectus. Etiam tincidunt erat orci, ac consequat dolor facilisis a.</p>
    </div>
  </div>
  

</body>
</html>