<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
	<title>Basic One Page Site by Heim L.</title>

	<link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="page">
    <div id="header-page">
      <div id="header" class="container">
        <div id="logo">
          <h1>Welcome to Heim's Page</h1>
        </div>
      </div>

      <div class="content">
        <img src="images/pagepic.jpg">
      </div>
    </div>

    <div id="mainContents">
      <div id="content1">
        <h2>Content 1</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, sem sed auctor condimentum, ex nulla venenatis tortor, vel suscipit sem eros et justo. Aliquam erat volutpat. Donec iaculis dui vitae purus imperdiet, ullamcorper pretium magna viverra. Duis iaculis mi at urna pretium imperdiet. Morbi tempus ligula nunc, in iaculis ipsum sodales sed. Curabitur eu ligula rutrum, blandit mi ut, rhoncus sem. Integer maximus fringilla fringilla. </p>      
      </div>
      <div id="content2">
        <h2>Content 2</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, sem sed auctor condimentum, ex nulla venenatis tortor, vel suscipit sem eros et justo. Aliquam erat volutpat. Donec iaculis dui vitae purus imperdiet, ullamcorper pretium magna viverra. Duis iaculis mi at urna pretium imperdiet. Morbi tempus ligula nunc, in iaculis ipsum sodales sed. Curabitur eu ligula rutrum, blandit mi ut, rhoncus sem. Integer maximus fringilla fringilla. </p>      
      </div>
      <div id="content3">
        <h2>Content 3</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, sem sed auctor condimentum, ex nulla venenatis tortor, vel suscipit sem eros et justo. Aliquam erat volutpat. Donec iaculis dui vitae purus imperdiet, ullamcorper pretium magna viverra. Duis iaculis mi at urna pretium imperdiet. Morbi tempus ligula nunc, in iaculis ipsum sodales sed. Curabitur eu ligula rutrum, blandit mi ut, rhoncus sem. Integer maximus fringilla fringilla. </p>      
      </div>
    </div>
  </div>
</body>
</html>