<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
	<title>Minimalist Website by Heim L.</title>

	<link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/5c5a61ec51.js" crossorigin="anonymous"></script>
</head>

<body>
 <div id="page"
    <div id="header-page">
      <div id="header">
        <div id="logo">
          <h1> <span>Heim</span> tube </h1>
        </div>
      </div>     
    </div>       
  </div>

  <div id="sixColumns">
    <div id="column1">
      <p1> <i class="fab fa-apple"></i> </p1>
      <h2> <span id="smallSpan"> Lorem </span> Ipsum </h2>
      <p> Mauris sit amet cursus nunc, et molestie mauris. Phasellus vulputate mi nec mi iaculis, ut finibus massa blandit. Ut erat nunc, convallis ac tortor id, hendrerit egestas ipsum. Aenean id laoreet tellus. Sed sapien neque, efficitur et finibus sed, malesuada id magna. Mauris at rutrum erat.  </p>
    </div>
    <div id="column2">
      <p2> <i class="fas fa-check-circle"></i> </p2>
      <h2> <span id="smallSpan"> Lorem </span> Ipsum </h2>
      <p> Mauris sit amet cursus nunc, et molestie mauris. Phasellus vulputate mi nec mi iaculis, ut finibus massa blandit. Ut erat nunc, convallis ac tortor id, hendrerit egestas ipsum. Aenean id laoreet tellus. Sed sapien neque, efficitur et finibus sed, malesuada id magna. Mauris at rutrum erat.  </p>
    </div>
    <div id="column3">
      <p3> <i class="fab fa-facebook-messenger"></i> </p3>
      <h2> <span id="smallSpan"> Lorem </span> Ipsum </h2>
      <p> Mauris sit amet cursus nunc, et molestie mauris. Phasellus vulputate mi nec mi iaculis, ut finibus massa blandit. Ut erat nunc, convallis ac tortor id, hendrerit egestas ipsum. Aenean id laoreet tellus. Sed sapien neque, efficitur et finibus sed, malesuada id magna. Mauris at rutrum erat.  </p>
    </div>
    <div id="column4">
      <p4> <i class="fab fa-twitter"></i> </p4>
      <h2> <span id="smallSpan"> Lorem </span> Ipsum </h2>
      <p> Mauris sit amet cursus nunc, et molestie mauris. Phasellus vulputate mi nec mi iaculis, ut finibus massa blandit. Ut erat nunc, convallis ac tortor id, hendrerit egestas ipsum. Aenean id laoreet tellus. Sed sapien neque, efficitur et finibus sed, malesuada id magna. Mauris at rutrum erat.  </p>
    </div>
    <div id="column5">
      <p5> <i class="fab fa-youtube"></i> </p5>
      <h2> <span id="smallSpan"> Lorem </span> Ipsum </h2>
      <p> Mauris sit amet cursus nunc, et molestie mauris. Phasellus vulputate mi nec mi iaculis, ut finibus massa blandit. Ut erat nunc, convallis ac tortor id, hendrerit egestas ipsum. Aenean id laoreet tellus. Sed sapien neque, efficitur et finibus sed, malesuada id magna. Mauris at rutrum erat.  </p>
    </div>
    <div id="column6">
      <p6> <i class="fas fa-gamepad"></i> </p6>
      <h2> <span id="smallSpan"> Lorem </span> Ipsum </h2>
      <p> Mauris sit amet cursus nunc, et molestie mauris. Phasellus vulputate mi nec mi iaculis, ut finibus massa blandit. Ut erat nunc, convallis ac tortor id, hendrerit egestas ipsum. Aenean id laoreet tellus. Sed sapien neque, efficitur et finibus sed, malesuada id magna. Mauris at rutrum erat.  </p>
    </div>   
  </div>
</body>
</html>